.app{
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
  width: max-content;
  margin-left: auto;
  max-width: 1400px;
  margin-right: auto;
  justify-content: center;
}
::-webkit-scrollbar{
  display: none;
}
