.footer{
 display: flex;
 width: 910vw;
 height: 60vh;
 margin-top: 0px;
 flex-direction: column;
 justify-content: space-between;
 background:black;
 border: 1px solid #000000;
}
 .left-side{
     margin-top: 120px;
     margin-left: 55px;
     
 }
 #footerLogo{
   width: 30px;
   color: white;

 }
 #footerLogo2{
    width: 138px;
    color: #F7F7F7;

 }
 .social-icons{
    margin-top: 70px;
    display: flex;
    gap: 30px;
    color:white
 }
 .copyright{
    margin-left: 5px;
    margin-top: 40px;
    color: white;
 }
 .copyright >h4{
    margin-left: 48px;
    margin-top: -22px;
 }
 .middle{
    display: flex;
    margin-top: -100px;
    margin-left: 390px;
 }

 .middle >.first-group >a{
    text-decoration: none;
    cursor: pointer;
 }
 .first-group{
    display: grid;
    margin-top: -110px;
    gap: 10px;
    color: white;
 }
 #h4{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
 }
 a >span{
    color: #F1F3F9;
    font-size: 14px;
 }
 .middle2{
    display: flex;
    margin-top: -110px;
    margin-left: 690px;
    color: white;
 }
 .middle2 >.second-group >a{
    text-decoration: none;
    cursor: pointer;
 }
 .second-group{
    display: grid;
    margin-top:-24px;
    gap: 10px;
    color: white;
 }
 .middle3{
    display: flex;
    margin-top: -109px;
    margin-left: 980px;
    color: white;
    width: fit-content;
 }
 .middle3 >.third-group >a{
    text-decoration: none;
    cursor: pointer;
 }
 .third-group{
    display: grid;
    margin-top: -25px;
    gap: 10px;
    color: white;
 }
 .social-icons >a:hover{
     cursor: pointer;
     transform: scale(1.1);
     transition: .5s;
 }