.header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
   width: 110px; 
   height: 19px;
   
}
#logo1{
    width: 24px;
    height: 23px;
    margin-top: -3px;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 1rem;
    color: #434343;
    margin-top: -2px;
    margin-left: 10em;
}
.header-menu >li{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
    
    
}
.header-menu >a >li{
    margin-left: 90px;
}
.header-menu >a >li:hover{
    color: plum;
    cursor: pointer;
}
.header-menu >a {
    text-decoration: none;
    color: black;
}