.hero {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
}
.rentPlace {
  margin-top: 8rem;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero-text {
  padding: 10px 13px;
  color: #434343;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 180%;
  letter-spacing: -0.001em;
  text-transform: none;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
span {
  color: #a02279;
}
p {
  letter-spacing: 1px;
  background: white;
  color: #434343;
  margin-left: -35px;
  font-weight: 500;
}
.srch {
  width: 299px;
  height: 44px;
  left: 0px;
  border-radius: 8px 0px 0px 8px;
  margin-top: 30px;
  margin-left: -30px;
  padding: 10px;
  border: 1px solid #a3a3a3;
}
.btn:hover{
    background-color: hsl(320, 79%, 21%);
}
.search {
  display: flex;
}
.btn {
  background: #a02279;
  transition-delay: 0.4ms;
  border-radius: 0px 8px 8px 0px;
  border: rgb(94, 86, 86);
  color: white;
  width: 150px;
  height: 44px;
  margin-top: 30px;
  cursor: pointer;
}

.right-h {
    display: flex;
    position: relative;
    background-color: white;
}
.bottomPurple {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 264px;
  position: absolute;
  width: 1355px;
  height: 40px;
  left: 0px;
  top: 772px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
.img-vec {
  display: flex;
  gap: 240px;
  margin-top: -20px;
  margin-left: -290px;
}
.img-vec2 {
  display: flex;
  width: fit-content;
  margin-top: 30px;
}
.img2 {
  display: flex;
  width: fit-content;
  margin-top: 20px;
  gap: 2px;
}
.opensea1 {
  display: flex;
  width: fit-content;
  margin-top: 40px;
  gap: 2px;
}
.vec2 {
  width: 49px;
  height: 50px;
  margin-top: 17px;
}
.vec3 {
  width: 30px;
  height: 30px;
  margin-top: 40px;
}
.vec4 {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}
.vec {
  width: 49px;
  height: 40px;
  margin-top: 23px;
}
.token {
  font-family: "AirbnbCereal_W_Bd";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #f7f7f7;
  line-height: 27px;
}
.token1 {
  color: white;
  margin-top: 40px;
  font-style: normal;
  font-weight: lighter;
  font-size: 23px;
}
.open {
  font-size: 28px;
  margin-top: 15px;
  color: white;
  font-style: normal;
  font-weight: 400;
}
.right-h > .btn1 {
  position: absolute;
  right: 10rem;
  top: 1rem;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;

  border-radius: 8px;
  border: rgb(94, 86, 86);
  color: white;
  width: 10%;
  height: 44px;

  cursor: pointer;
}
.imagesDiv{
    position: absolute;
    top: 10rem;
    right: 3rem;
    color: #434343;
    
}
.wrapper1{
    
    margin-left: -40px;
    margin-top: 230px;
    width: fit-content;
}
.wrapper2{
 margin-left: 80px;
  margin-top: -10px;
  width: fit-content;
  background-color: red;
}
.wrapper3{
    width: fit-content;
    margin-left:-190px ;
    margin-top: -160px;
}
.wrapper4{
    margin-top: -120px;
    margin-left: 60px;
    width: fit-content;
}