.hero {
  display: flex;
  justify-content: space-between;
  width: max-content;
  height: max-content;
  background-color: white;
}
.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
}
.rentPlace {
  margin-top: 8rem;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero-text {
  padding: 10px 13px;
  color: #434343;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 180%;
  letter-spacing: -0.001em;
  text-transform: none;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
span {
  color: #a02279;
}
p {
  letter-spacing: 1.5px;
  background: white;
  color: #434343;
  margin-left: 10px;
  font-weight: 500;
  font-size:large;
  line-height: 25px;
}
.srch {
  width: 299px;
  height: 44px;
  left: 0px;
  border-radius: 0px 0px 0px 8px;
  margin-top: 30px;
  margin-left: -30px;
  padding: 10px;
  border: 1px solid #a3a3a3;
}
.btn:hover{
    background-color: hsl(320, 79%, 21%);
}
.search {
  display: flex;
}
.btn {
  background: #a02279;
  transition-delay: 0.4ms;
  border-radius: 8px;
  border: rgb(94, 86, 86);
  color: white;
  width: 150px;
  height: 44px;
  margin-top: 30px;
  cursor: pointer;
}

.right-h {
    display: flex;
    position: relative;
    
}
.hero-text2{
  margin-top: -30px;

}
.bottomPurple {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 264px;
  position: absolute;
  width: 1509px;
  height: 40px;
  left: 0px;
  top: 829px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
.img-vec {
  display: flex;
  gap: 280px;
  margin-top: -20px;
  margin-left: -30px;
}
.img-vec2 {
  display: flex;
  width: fit-content;
  margin-top: 30px;
  margin-left: -280px;
}
.img2 {
  display: flex;
  width: fit-content;
  margin-top: 20px;
  gap: 2px;
}
.opensea1 {
  display: flex;
  width: fit-content;
  margin-top: 40px;
  gap: 2px;
}
.vec2 {
  width: 49px;
  height: 50px;
  margin-top: 6px;
  margin-left: -40px;
}
.vec3 {
  width: 30px;
  height: 30px;
  margin-top: 23px;
}
.vec4 {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  position: absolute;
  margin-left: -48px;
}
.vec {
  width: 49px;
  height: 40px;
  margin-top: 23px;
}
.token {
  font-family: "AirbnbCereal_W_Bd";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #f7f7f7;
  line-height: 27px;
  margin-top: 15px;
  position:absolute;

}
.token1 {
  color: white;
  margin-top: 26px;
  font-style: normal;
  font-weight: lighter;
  font-size: 23px;
  
}
.open {
  font-size: 28px;
  margin-top: 4px;
  color: white;
  font-style: normal;
  font-weight: 400;
}
.right-h >a > .btn1 {
  position: absolute;
  top: 1rem;
  border: none;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  border-radius: 8px;
  color: white;
  width: 110%;
  margin-left: 120px;
  height: 44px;
  
}
.right-h > .btn1:hover{
    cursor: pointer;
    background: #f57bce;
    transform: scale(1.1);
    transition: .5s;
}
.imagesDiv{
   display: flex;
   margin-left: -260px;
    
}

#cartoon1{
  display: flex;
  margin-top: 355px;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 240px;
}

.img-div3{
  display: flex;
  height: 200px;
  gap: 10px;
  margin-left: 6px;
  margin-top: 250px;
  width: 240px;
}
#cartoon3{
  width: 230px;
}
.cartoon4{
  display: flex;
  height: 200px;
  margin-top: 210px;
  margin-left: -240px;
  width: 250px;
}
@media screen and (min-width:481px) and (max-width:768px)
{
  .rentPlace{
    margin-top: 4rem;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
      
    }
    .left-h {
      padding-left:202px ;
      padding-top: 1.5rem;
    }
    .hero {
      display: flex;
      justify-content: space-between;
      height: max-content;
      background-color: white;
    }
    .hero-text {
      padding: 10px 13px;
      color: #434343;
      font-style: normal;
      font-weight: bold;
      font-size: 29px;
      line-height: 140%;
      letter-spacing: -0.001em;
      text-transform: none;
      letter-spacing: 1.2px;
      margin-bottom: 10px;
      margin-left: -140px;
    }
    .imagesDiv{
      margin-left: -520px;
      margin-top: 260px;
      width: 80vw;
    }
    #cartoon1{
      width: 200px;
      margin-top: 290px;
      margin-left: 40px;
      height: 170px;
    }
    #cartoon3{
      width: 200px;
      height: 170px;
    }
    .cartoon4{
      display: flex;
      height: 170px;
      margin-top: 180px;
      margin-left: -210px;
      width: 200px;
    }
    .cartoon2{
      width: 200px;
      display: flex;
      margin-left: 40px;
    }
    .bottomPurple{
      margin-top: 111px;
      width: 720px;
      margin-left: 30px;
      padding-left: -20px;
      position: absolute;
      
    }
    .img-vec{
      margin-left: 190px;
  
      gap: 140px;
    }
    .open{
      margin-left: -40px;
    }
    .vec4{
      margin-left:-80px;
    }
    .token1{
      margin-left: 11px;
  
    }
    .vec3{
      margin-left: 20px;
    }
}
 @media screen and (min-width:320px) and (max-width:769px)
{
  .rentPlace{
  margin-top: 4rem;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
    
  }
  .left-h {
    padding-left:202px ;
    padding-top: 1.5rem;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    height: max-content;
    background-color: white;
  }
  .hero-text {
    padding: 10px 13px;
    color: #434343;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 140%;
    letter-spacing: -0.001em;
    text-transform: none;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    margin-left: -140px;
  }
  .imagesDiv{
    margin-left: -520px;
    margin-top: 260px;
    width: 80vw;
  }
  #cartoon1{
    width: 200px;
    margin-top: 290px;
    margin-left: 40px;
    height: 170px;
  }
  #cartoon3{
    width: 200px;
    height: 170px;
  }
  .cartoon4{
    display: flex;
    height: 170px;
    margin-top: 180px;
    margin-left: -210px;
    width: 200px;
  }
  .cartoon2{
    width: 200px;
    display: flex;
    margin-left: 40px;
  }
  .bottomPurple{
    margin-top: 111px;
    width: 820px;
    margin-left: 30px;
    padding-left: -200px;
    position: absolute;
    
  }
  .img-vec{
    margin-left: 190px;

    gap: 140px;
  }
  .open{
    margin-left: -40px;
  }
  .vec4{
    margin-left:-80px;
  }
  .token1{
    margin-left: 11px;

  }
  .vec3{
    margin-left: 20px;
  }
}
 