.hero-text2 {
  position: absolute;
  width: 900px;
  height: 20vh;
  left: 513px;
  top: 920px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  
}

.home__row {
  display: flex;
  flex-direction: row;
  margin-top: -120px;
  width: 200%;
  
}
.home__row2{
  display: flex;
  flex-direction: row;
  margin-top: -160px;

}
.heroTwo {
  display: grid;
  
}
@media screen and (min-width:320px) and (max-width:480px){
  .hero-text2{
    margin-top: 50px;
    margin-left: -340px;

  }
  .home__row{
    
    display: grid;
    margin-left: 200px;
    height:fit-content;
    flex-direction: row;
    gap: -70px;
  }
  .home__row2{
    
    display: flex;
    margin-left: 200px;
    height:fit-content;
    flex-direction: column;
    gap: -70px;
  }
} 
@media screen and (min-width:481px) and (max-width:768px){
  .hero-text2{
    margin-top: 50px;
    margin-left: -340px;
    width: 50%;
  }
  .heroTwo{
    margin-left: 200px;
  }
  .home__row{
    
    display: grid;
    margin-left: 200px;
    height:fit-content;
    flex-direction: row;
    gap: -70px;
  }
  .home__row2{
    
    display: flex;
    margin-left: 200px;
    height:fit-content;
    flex-direction: column;
    gap: -70px;
  }
 
  
} 
@media screen and (min-width:769px) and (max-width:700px){
  .hero-text2{
    margin-top: 10px;
    margin-left: -340px;

  }
  .heroTwo{
    margin-left: 200px;
  }
  .home__row{
    
    display: grid;
    margin-left: 30px;
    height:fit-content;
    flex-direction: row;
    gap: -70px;
  }
  .home__row2{
    
    display: flex;
    margin-left: 200px;
    height:fit-content;
    flex-direction: column;
    gap: -70px;
  }
} 