* {
  margin: 0;
  padding: 0;
  font-style: normal;
  
}
.overlay {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 500px;
  height: 266px;
  left: 420px;
  margin-top: 10px;
  top: 347px;
  background: #ffffff;
  border-radius: 16px;
}
.modalContainer {
  max-width: 800px;
  color: black;
  margin-left: 30px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  position: absolute;

}
.closeBtn {
  cursor: pointer;
  margin-left: 440px;
  margin-top: -7px;
  color: black;
}
.connect >h3{
  position: absolute;
  margin-top: -60px;
  
}
.choose >p{
  position: absolute;
  margin-top: -30px;
  margin-top: -19px;
  width: 460px;
  
}
.choose {
  
  margin-top: 50px;
  margin-left: 36px;
 
}
.wallet {
  display: grid;
  height: 130px;
  gap: 10px;
  padding-top: 20px;
 
}
.wallet > button {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  border: 1px rgb(206, 185, 185) solid;
  border-radius: 10px;
  display: flex;
  padding-left: 80px;
  padding-top: 20px;

}
#metamask-img{
  margin-left: 30px;
  margin-top: 12px;
  position: absolute;
  
}
#wallet-img{
  position: absolute;
  margin-top: 80px;
  margin-left: 34px;
}
#connect-arrow1{
  position: absolute;
  margin-left: 420px;
  margin-top: 15px;
}
#connect-arrow2{
  position: absolute;
  margin-left: 420px;
  margin-top: 89px;
}
@media screen and (min-width:320px) and (max-width:769px) {
  .overlay {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 1;
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 500px;
    height: 266px;
    left: 120px;
    margin-top: 10px;
    top: 347px;
    background: #ffffff;
    border-radius: 16px;
  }
}

