.connect2 {
  margin-left: 30px;
  margin-top: 30px;
}
logo1 {
  height: 30px;
  width: 80px;
}
.logo-nft {
  width: 120px;
}
.header-nft {
  display: flex;
  margin-left: 240px;
  gap: 80px;
  margin-top: -30px;
}
.header-nft > a > li {
  list-style-type: none;
}
.header-nft > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 3ms;
  font-weight: 400;
}
.header-nft > a li:hover {
  color: #973879;
}
.btn5 {
  background: #a02279;
  transition-delay: 0.4ms;
  border-radius: 8px;
  border: rgb(94, 86, 86);
  color: white;
  width: 150px;
  height: 44px;
  margin-top: -45px;
  cursor: pointer;
  margin-left: 950px;
  position: absolute;
}
.header-menu {
  margin-left: -20px;
}
.header-menu ul {
  display: flex;
  gap: 50px;
  margin-top: 90px;
  margin-left: 20px;
}
.list-menu > li {
  text-decoration: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  list-style-type: none;
  color: #434343;
}
.btn6 {
  position: absolute;
  margin-left: 910px;
  margin-top: -46px;
  font-size: 16px;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  position: absolute;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #b4b4b4;
  border-radius: 4px;

}
.btn6 #location{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
    border: none;
    margin-left: 10px;
    margin-top: 8px;
    background-color: white;
}
 .btn6 >img{
    margin-top: 9px;
    margin-left: 25px;
    position: absolute;
}
.location {
  box-sizing: border-box;
  
}
.row1{
    display: flex;

}
.row2{
    display: flex;
}