.product {
  margin-left: 40px;
  margin-top: 240px;
  flex-direction: column;
  width: 200px;
  height: 32vh;
  background: white;
  z-index: 1;
  border: 1px solid #b9acac;
  border-radius: 15px;
  padding-left: 90px;
  margin-left: 50px;
 
  
}
.product__info{
  background: white;
  margin-top: 20px;
  
}

.product__info > img {
  max-height: 190px;
  width: 250px;
  margin-bottom: 59px;
  margin-left: -70px;
  margin-top: -10px;
  padding: 5px;
  padding-bottom: 10px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
}

.product__div {
  display: flex;
  gap: 3rem;
  margin-top: -2rem;
  margin-left: -80px;
  max-width: fit-content;
  background: white;
  
}
.col1 {
  display: flex;
  flex-direction: column;
  width: 80px;
}
.col2 {
    
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 0.8em;
  }
#span__one {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
  color: #434343;
  margin-top: -6px;
  
}
#span__two{
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  width: max-content;
  line-height: 13px;
  color:black;
  margin-top: 8px;
  
}
.span__three{
    color: black;
    width: max-content;
    font-weight: 600;
    
  }
  .span__four{
    color: #434343;
    font-weight: 500;
    font-size: 14px;
  }
  .product__rating{
    display: flex;
    margin-left: -69px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #star{
    padding-left: -30px;
    margin-left: -4px;

  }
  @media screen and (min-width:481px) and (max-width:768px){
  
    .product__div {
     padding:-10px;
    }
  }
  @media screen and (min-width:320px) and (max-width:480px){
  
    .product__div {
     padding:5px;
     margin-left: -120px;
     margin-top: -60px;
     gap: 20px;
     
    }
    .product__info >img{
      padding: 10px;
      margin-left:-100px;
    }
  }